<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= form.label :title %></p>
    <%= form.text_field :title, id: :post_title, :size => 50 %>
  </div>

  <div class="field">
    <p><strong><%= form.label :description %></strong></p>
    <%= form.text_area :description, id: :post_description, cols: 50, rows: 10 %>
  </div>

  <div class="field">
    <p><strong>add an image....</strong></p>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <p><%= form.label :location %>: Address of where your item is located</p>
    <%= form.text_field :location, id: :post_location, :size => 50 %>
  </div>

  <!-- <div class="field">
    <p><%= form.label :tag %></p>
    <%= form.text_field :tag, id: :post_tag, :size => 50 %>
  </div> -->

  <!-- <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :post_price %>
  </div> -->


    <%= form.hidden_field :user_id, id: :post_user_id, :value => @current_user.id  %>


  <%# user_id = @current_user%>
<!-- User.find(session_id: request.session_options[:id])  -->
<%# form.text_field :, :value => @make_id %>
  <div class="field">
    <p><%= form.label :phone_number %></p>
    <%= form.text_field :phone_number, id: :post_phone_number, :size => 50%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
