<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :post_description %>
  </div>

  <div class="field">
    add an image....
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :post_location %>
  </div>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag, id: :post_tag %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :post_price %>
  </div>


    <%= form.hidden_field :user_id, id: :post_user_id, :value => @current_user.id  %>


  <%# user_id = @current_user%>
<!-- User.find(session_id: request.session_options[:id])  -->
<%# form.text_field :, :value => @make_id %>
  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :post_phone_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
