<!-- <p id="notice"><%= notice %></p> -->

<!-- <button><%= link_to 'New Post', new_post_path %></button> -->
<section class="module parallax parallax-1">
  <div class="container">
      <h1><strong><span id="free">free</span></strong> <span id="for">for</span><strong><span id="all"> all</span></strong></h1>
      <h4>A place to post and explore <span>treasures</span> </h4>
    </div>
  </section>

<section class="module content">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <h1>Recent Posts</h1><br>
      <% @posts.each do |post| %>
      <div id="items">
        <div> Posted <span id="time"><%= time_ago_in_words(post.created_at) %> ago</span></div><br>
        <div id='center'><strong> <%= post.title %></strong></div><hr>
        <div id="section"><strong>Description: </strong><br><%= raw (post.description).truncate(50) %></div><br><br><br><br>
        <div id="section"><strong>Distance: </strong><br><span id="miles"><%= post.distance_from(session[:lat], session[:lng]).round(1) %> miles away</span></div><br>
        <% unless post.image.to_s.empty? %>
        <div id="img-section"><strong>Image: </strong><div id='img-here'> <%= image_tag post.image %> </div><br>
        <% else %>
        <div id="img-section"><strong>Image: </strong><div id="img-none"> <strong>N/A </strong></div><br>
        <% end %>

      </div><br><br><br><br>

      <!-- <div><strong>Phone Number: </strong><%= post.phone_number %></div> -->
      <div id="deets"><strong></strong><%= link_to 'More details...', post %></div>
    </div>
    <% end %><br><br><br>
    <div id="link">
      <button type="button" class="btn btn-outline-info">
        <%= link_to 'Previous Page', page: @page - 1 %></button> &nbsp;
        <button type="button" class="btn btn-outline-info">
          <%= link_to 'Next Page', page: @page + 1 %></button>
        </div>
      </div>
    </div>
  </section>

<br>
