<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @post.picture %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @post.tag %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @post.phone_number %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %><br><br><br>

Contact Seller: <br><br>
<%= form_tag(post_path, method: "post") do %>
  <%= label_tag(:phone_number, "Phone number:") %>
  <%= text_field_tag(:phone_number) %>
  <%= label_tag(:message, "Message:") %>
  <%= text_area_tag(:message) %><br>
  <%= submit_tag("Contact", notice: "Thank you for your submission") %>
<% end %>

<!-- <button type="button" onclick="sendTextMessage()"> Send Message </button> -->
