

<p id="notice"><%= notice %></p>
<button type="button" class="btn btn-outline-primary"><%= link_to 'Back', posts_path %></button><br><br><br>
<p>

  <p>
    <div class="post-image">
    <!-- <strong>Image:</strong><br> -->
    <%= image_tag @post.image_url.to_s %>
  </div>
  </p>
  <!-- <strong>Title:</strong> -->
  <div class="post-title"><strong><%= @post.title %></strong></div>
</p>

<p>
  <!-- <strong>Description:</strong> -->
  <div class="post-description"><%= @post.description %></div>
</p>



<p>
  <strong>Item Location:</strong>
  <%= @post.location %>
</p>

<!-- <p>
  <strong>Tag:</strong>
  <%= @post.tag %>
</p> -->


<button type="button" class="btn btn-outline-primary"><%= link_to 'Edit Post', edit_post_path(@post) %> </button>
<br><br><br>

<hr>

<div id="contact-poster">
Contact the poster of <strong><%= @post.title %></strong>: <br><br>
<%= form_tag(post_path, method: "post") do %>
<input type="hidden" name="hidden_title" value="<%= @post.title %>" />
  <%= label_tag(:phone_number, "Phone number:") %>
  <%= text_field_tag(:phone_number) %>
  <%= label_tag(:message, "Message:") %>
  <%= text_area_tag(:message) %><br>
  <%= submit_tag("Contact") %>
<% end %>
</div>








<!-- <button type="button" onclick="sendTextMessage()"> Send Message </button> -->
