

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Image:</strong><br>
  <%= image_tag @post.image_url.to_s %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @post.distance_from(session[:lat], session[:lng]).round(1) %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @post.tag %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @post.phone_number %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %><br><br><br>




Contact Seller of <strong><%= @post.title %></strong>: <br><br>
<%= form_tag(post_path, method: "post") do %>
<input type="hidden" name="hidden_title" value="<%= @post.title %>" />
  <%= label_tag(:phone_number, "Phone number:") %>
  <%= text_field_tag(:phone_number) %>
  <%= label_tag(:message, "Message:") %>
  <%= text_area_tag(:message) %><br>
  <%= submit_tag("Contact") %>
<% end %>







<!-- <button type="button" onclick="sendTextMessage()"> Send Message </button> -->
