<!DOCTYPE html>
<html>
  <head>
    <title>Free For All</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <style type="text/css"></style>
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Amaranth|Baloo+Chettan|Dorsa|Julius+Sans+One|Meera+Inimai|Monoton|Montserrat+Alternates|Mukta+Vaani|Pattaya|Rochester|Sue+Ellen+Francisco|Unica+One|Vibur" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'send-sms' %>
    <%= javascript_include_tag 'posts' %>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-twitch" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<span class="small-nav"> <span class="logo"> &lt;FFA&gt; </span> </span>
				<span class="full-nav"> &lt; Bootsnipp &gt; </span>
			</a>
		</div>
		<div class="">
			<ul class="nav navbar-nav">
				<li class="active">

					<a href="/">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="Home" data-original-title="Home">
							<span class="glyphicon glyphicon-home"></span>
						</span>
						<span class="full-nav"> Home </span>
					</a>
				</li>
				<!-- <li>
					<a href="#search">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="" data-original-title="About Us">
							<span class="fa fa-location-arrow"></span>
						</span>
						<span class="full-nav"> Search By Location </span>
					</a>
				</li> -->
				<li>
					<a href="/posts/new">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="Create Post" data-original-title="Contact Us">
							<span class="fa fa-plus-circle"></span>
						</span>
						<span class="full-nav"> New Post </span>
					</a>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
    <%= yield %>
  </body>
</html>
